p
{
  font-size: 2rem;
  background-color: red;
  width: 20%;
  height: 20%;
  padding: 1rem;
  color: lightblue;
  border-radius: .5rem;
}

button {
  margin-top: 1rem;
  font-size: 1.4rem;
  width: 10%;
  height: 5rem;
  background-color: lightblue;
  padding: 1rem;
  border: 2px solid black;
  border-radius: .5rem;
}
